##### movies-q2 notebook
***

<h1>Question 1 - Which studios do our data indicate are the highest earning?</h1>

    1. How much do top studios earn?
    2. What are their top grossing titles?
    3. What is the genre mix for top studios?

## import required libraries

In [1]:
import os # for setting the current directory

import numpy as np
import pandas as pd

import sqlite3
import pandasql

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
# set the current working directory
os.chdir("c:/users/jd/flatiron/project01/dsc-mod-1-project-v2-1-online-ds-ft-120919/")

# print the current working directory
print(os.getcwd())

c:\users\jd\flatiron\project01\dsc-mod-1-project-v2-1-online-ds-ft-120919

### connect to sqlite database

In [3]:
# connect to sql movies_db data source and instantiate a cursor
conn = sqlite3.connect("movies_db.sqlite")
cur = conn.cursor()

### list the sqlite table names

In [4]:
# get names of all tables in the sql database
sql_tables = conn.execute("select name from sqlite_master where type='table';")

# assign table names to a variable as a list for future iteration
table_list = list(map(lambda x: x[0], sql_tables.fetchall()))
table_list

['clean_bom_tbl', 'clean_tn_tbl', 'clean_imdb_title_tbl']

## Bring in our combined titles-and-budgets table

In [12]:
# connect to the required tables
cur.execute('''SELECT title, studio, domestic_gross, foreign_gross, year,
       Total_gross, production_budget, Worldwide_net, worldwide_gross, ROI, Year
                    FROM budget_basics_tbl
                    ;''')

budget_basics_df = pd.DataFrame(cur.fetchall())
budget_basics_df.columns = [x[0] for x in cur.description]
budget_basics_df.head(5)

,title,studio,domestic_gross,foreign_gross,Year,Total_gross,production_budget,Worldwide_net,worldwide_gross,ROI,Year
0,Toy Story 3,BV,415000000.0,652000000.0,2010,1.067000e+09,200000000.0,751879522.0,1.068880e+09,81.29,2010
1,Inception,WB,292600000.0,535700000.0,2010,8.283000e+08,160000000.0,535524642.0,8.355246e+08,80.85,2010
2,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,7.526000e+08,165000000.0,456244673.0,7.562447e+08,78.18,2010
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000.0,2010,6.985000e+08,68000000.0,431102828.0,7.061028e+08,90.37,2010
4,Iron Man 2,Par.,312400000.0,311500000.0,2010,6.239000e+08,170000000.0,371156389.0,6.211564e+08,72.63,2010

In [15]:
# set `title` as the index
budget_basics_df.set_index('title', drop=True, inplace=True)

<h2 align='center'><font color='chocolate'>Highest grossing studios</font></h2>

In [16]:
# what were the top 10 highest - gross movies in 2018
basics_2018_df = budget_basics_df.loc[budget_basics_df.Year == 2018]
display(basics_2018_df.sort_values(by=['studio', 'worldwide_gross', 'ROI'], ascending=False).head(10))

#2016 - 2018
basics_2016_18_df = budget_basics_df.loc[budget_basics_df.Year.between (2016, 2018)]
display(basics_2016_18_df.sort_values(by=['Studio', 'worldwide_gross', 'ROI'], ascending=False).head(10))

ValueError: Cannot index with multidimensional key

In [ ]:
# ... the 10 highest grossing studios
print("2018", basics_2018_df.groupby(
    'studio').sort_values(by=['Total_gross'], ascending=False).head())


print("-"*80)

print("2016-2018", basics_2016_18_df.groupby(
    'studio').sort_values(by=['Total_gross'], ascending=False).head())

In [6]:
# create a plot
plt.figure(figsize=(8, 5))

# data and number of groupings
plt.barh(x=basics_2016_18_df.studio, y=basics_2016_18_df.Total_gross)

# chart appearance
plt.grid(axis='y', alpha=0.75)
plt.xlabel('gross earnings',fontsize=15)
plt.ylabel('studio',fontsize=15)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.title("2016-18 Total Gross Earnings (billions),\n by studio (m)",fontsize=15)

plt.legend("earnings in billions")

plt.show()

NameError: name 'basics_2016_18_df' is not defined

In [ ]:
budget_basics_df.head(3).head(2)

### Add `budget_basics_df` to sqlite

***

<h2 align='center'><font color='chocolate'>Top Studios</font></h2>

<h3 align='center'><font color='coral'>genre, gross</font></h3>

<h3 align='center'><font color='coral'>genre, net [only if gross, net not correlated</font></h3>

<h3 align='center'><font color='coral'>by genre</font></h3>

In [ ]:
Close the connection object
connection.close()